extends layout

block content
  section.poem
    h1 千本桜
    p
      大胆不敵にハイカラ革命
      br
      磊々落々（らいらいらくらく）反戦国家 
      br
      日の丸印の二輪車転がし 
      br
      悪霊退散　ICBM
      br
      br
      
      環状線を走り抜けて　東奔西走なんのその 
      br
      少年少女戦国無双　浮世の随（まにま）に
      br
      br
      
      千本桜　夜ニ紛レ　君ノ声モ届カナイヨ 
      br
      此処は宴　鋼の檻　その断頭台で見下ろして
      br
      br
      
      三千世界　常世之闇（とこよのやみ）　嘆ク唄モ聞コエナイヨ 
      br
      青藍（せいらん）の空　遥か彼方　その光線銃で打ち抜いて
      br
      br
      
      百戦錬磨の見た目は将校 
      br
      いったりきたりの花魁（おいらん）道中 
      br
      アイツもコイツも皆で集まれ 
      br
      聖者の行進　わんっ　つー　さん　しっ
      br
      br
      
      禅定門（ぜんじょうもん）を潜り抜けて　安楽浄土厄払い　 
      br
      きっと終幕（さいご）は大団円　拍手の合間に
      br
      br
      
      千本桜　夜ニ紛レ　君ノ声モ届カナイヨ 
      br
      此処は宴　鋼の檻　その断頭台で見下ろして
      br
      br
      
      三千世界　常世之闇（とこよのやみ）　嘆ク唄モ聞コエナイヨ 
      br
      希望の丘　遥か彼方　その閃光弾を打ち上げろ
      br
      br
      
      環状線を走り抜けて　東奔西走なんのその 
      br
      少年少女戦国無双　浮世の随（まにま）に
      br
      br
      
      千本桜　夜ニ紛レ　君ノ声モ届カナイヨ 
      br
      此処は宴　鋼の檻　その断頭台を飛び降りて
      br
      br
      
      千本桜　夜ニ紛レ　君が歌い僕は踊る 
      br
      此処は宴　鋼の檻　さあ光線銃を撃ちまくれ
      br
      br
