!!! 5
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/application.css')
  body
  .off-canvas-wrap
    .inner-wrap
      nav.tab-bar
        section.left-small
          a.left-off-canvas-toggle.menu-icon
            span
        section.middle.tab-bar-section
          h1.title Foundation
        section.right-small
          a.right-off-canvas-toggle.menu-icon
            span
      aside.left-off-canvas-menu
        ul.off-canvas-list
          li
            label Foundation
          li
            a(href="#") The Psychohistorians
      aside.right-off-canvas-menu
        ul.off-canvas-list
          li
            label Users
          li
            a(href="#") Hari Seldon
      section.main-section
        block content
    a.exit-off-canvas
    script(src="/application.js")
    script.
      $(document).foundation();
