$base-color-primary: #fdff33;
$base-color-secondary: #ffba33;
$base-color-thirdary: #ff8533;

// override offcanvas variables

$tabbar-bg: $base-color-secondary;
$off-canvas-bg: $base-color-thirdary;

$off-canvas-label-bg: $base-color-thirdary;

@import '../../bower_components/foundation/scss/foundation.scss';
@import 'font.scss';

.main-section {
  padding: 20px;
  background-color: #fffaef;
}

.poem h1,
.poem p {
  font-family: mikachan;
  text-align: center;
}

.poem h1 {
  color: $base-color-thirdary;
}